<div>
  <code>
    {{#exceptions}}
    <div style='white-space: nowrap;'>
      <span>{{file}}</span>
      <span>+{{line}}</span>
      <span>({{method}})</span>
    </div>
    {{/exceptions}}
  </code>
</div>
