<form method="post" action="/message">
    <div class="log-msg">
        <h3>Write an arbitrary log message</h3>
        <input type="text" name="message" size="60">
        <button id="arbitrary-log-button" type="submit" class="button small">Write</button>
    </div>
</form>