<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/css/style.css?v=10" type="text/css" media="screen">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
    <script src="/js/test.js"></script>
    <style type="text/css" media="screen">
        body { background:#111 none repeat scroll 0 0; }
    </style>
</head>
<body class='code'>
{{ yield }}
</body>
</html>
