<!-- Stacks info -->
<section id="info-bar" class="clearfix">
    <ul>
        <li class="heading">Version: </li>
        {{#environments}}
        <li>{{name}} &ndash; <span class="{{stack}}_{{name}}_version">{{current_version}}</span> </li>
        {{/environments}}
    </ul>
</section>

<aside class="pushers">

{{#environments}}
    <div class="stack-box">
        <h2><span>{{number}}</span>Deploy {{stack}} {{name}}</h2>
        <form action="/dispatch" method="post">
            <input type="hidden" name="method" value="{{method}}">
            <input type="hidden" name="stack" value="{{stack}}">
            
            <p class="stack-status">
                <a href="/diff/{{stack}}/{{current_version}}/{{next_build}}" target="_blank">
                    <span class="{{stack}}_{{name}}_current_build">{{current_build}}</span>
                    &rarr;
                    <span class="{{stack}}_{{name}}_next_build">{{next_build}}</span>
                </a>
            </p>
            {{#message_box?}}
            <p class="form"><label for="msg">Message:</label></p>
            <p class="form"><input type="text" name="msg" value="" class="textfield" id="msg"></p>
            {{/message_box?}}
            <p class="stack-push"><button class="button {{#disabled}} button-disabled" disabled="disabled{{/disabled}}" type="submit">Deploy {{name}}</button></p>
        </form>
        {{#not_last}}
        <span class="arrow"></span>
        {{/not_last}}
    </div>
{{/environments}}

</aside>

<section id="main" class="info">
    <!-- heading -->
    <div class="heading clearfix">
        <h2>Info</h2>
        <span class="option">
            {{< scroll_control }}
        </span>
    </div>
    
    <!-- log -->
    <div class="log-main">
        {{< log }}
    </div>

</section>
