<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <title>Deployinator</title>
        <link rel="shortcut icon" href="/favicon.ico">
        <link rel="stylesheet" href="/css/highlight.css" type="text/css" media="screen">
        <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
    </head>
    <body>
        <div id="content" class="clearfix">
            
            <!-- header -->
            <header>
                <div id="dna">
                        <a href="{{{ current_stack_url }}}">_________               ______                _____                 _____
______  /_____ ________ ___  /______ _____  _____(_)_______ ______ ___  /_______ ________
_  __  / _  _ \___  __ \__  / _  __ \__  / / /__  / __  __ \_  __ `/_  __/_  __ \__  ___/
/ /_/ /  /  __/__  /_/ /_  /  / /_/ /_  /_/ / _  /  _  / / // /_/ / / /_  / /_/ /_  /
\__,_/   \___/ _  .___/ /_/   \____/ _\__, /  /_/   /_/ /_/ \__,_/  \__/  \____/ /_/
               /_/                   /____/</a>
                </div>
                
                <div id="user">
                    <h1>Welcome to <span>Deployinator</span></h1>
                    {{< who_header }}
                    <div class="stacks" style="margin-top: 5px;">Change stack: {{{get_stacks_select_box}}}</div>
                </div>
                
            </header>
            
            <!-- main content -->
            {{{ yield }}}

            <!-- footer -->
            <footer>
                <div class="etsy">Etsy</div>
                <div class="source"><a href="http://etsy.me/deployinator">Deployinator on Github</a></div>
            </footer>
            
            <script src="/js/flot/jquery.flot.min.js"></script>
            <script src="/js/flot/jquery.flot.selection.js"></script>
            <script src="/js/jquery.konami.js"></script>
            <script src="/js/jquery.timed_bar.js"></script>
            <script>
                $(window).konami(function() {
                    var img = $('<img>').appendTo('body');
                    img.attr('src', '/images/pedopope.png').hide();
                    img.load(function() {
                        var width = img.width();
                        img.css({
                            position: 'absolute',
                            bottom: 0,
                            left: width * -1,
                            zIndex: 10

                        }).show();
                        img
                            .animate({left: 0}, 1000)
                            .animate({left: 0}, 1000)
                            .animate({left: $(window).width()}, 1000, function() {
                                img.remove();
                            });
                    });
                });
                
                $('#stacks').change(function() {
                    var stack = $(this).val();
                    
                    window.location = '/' + stack;
                });

                // this should just check taht action is dispatch?
                $('.pushers form').submit(function() {
                    var form = this,
                        placeholder,
                        button = $(form).find('button');
    
                    // warn user if they try to leave the page while deploy is taking place
                    window.onbeforeunload = function(e) {
                      var e = e || window.event,
                          msg = 'Deploy is taking place, are you sure you want to leave this page? Bad things will happen!';
          
                      // For IE and Firefox
                      if (e)
                        e.returnValue = msg;
      
                      // For Safari
                      return msg;
                    };
    
                    var rnd_id = "r_" + (Math.random() + "").replace('.', '');
                    frame = $("<iframe>").attr("name", rnd_id).css({"width": "100%", "background": "black", "marginBottom": "10px"});
                    $("#main").prepend(frame);
                    form.target = rnd_id;
    
                    bar = $('<div>').addClass('push-progress');
                    button.replaceWith(bar);
    
                    frame.load(function() { // done with the deploy
                        bar.replaceWith(button);
                        window.onbeforeunload = null;
                        updateVersionsAndBuilds();
                    });
    
                    $.get("/ti/{{stack}}/"+ $(form).attr("class").toLowerCase(), function(data) {
                        bar.timed_bar(data);
                    });
    
                    return true;
                });

                function updateVersionsAndBuilds() {
                    $.each(["version", "build"], function(i, type) {
                        $.getJSON('/{{stack}}/' + type + 's', function(data) {
                            $.each(data, function(index, tuple) {
                                $(".{{stack}}_"+tuple[0]+"_"+type).html(function(i, o) {
                                    if (tuple[1] != o) {
                                        $(this).effect("highlight", {}, 3000);
                                    }
                                    return tuple[1];
                                });
                            });
                        });
                    });
                }

                var getTime = function() {
                    var date = new Date();
                    return date.getFullYear() + "-"
                            + date.getMonth() + "-"
                            + date.getDay() + " "
                            + date.getHours() + ":"
                            + date.getMinutes() + ":"
                            + date.getSeconds();
                }

                var log = function(_elem, txt) {
                    var txtHolder = $('<pre></pre>');
                    var logLi     = $("<li></li>");
                    var elem      = $(_elem);
                    var platform  = elem.attr('className');
                    var time      = getTime();
                    var who       = elem.find('input[name=who]').val()
                    var msg       = elem.find('input[name=msg]').val()
                    logLi.text([platform, time, who, msg].join(' | '));
                    logLi.append(txtHolder.text(txt));
                    logLi.prependTo('#log ul');
                }

                var autoScroll = true;
                $(function() {
                    setInterval(function() {
                        if (!autoScroll) { return; }
                        $("iframe").each(function() {
                            this.contentWindow.scrollTo(0, this.contentDocument.height);
                        });
                    }, 200);
                });

                $("iframe").click(function() {
                    autoScroll = !autoScroll;
                });

                $("#auto_scroll").click(function() {
                    autoScroll = this.checked;
                });

                $(function() {
                    function pad(n){return n<10 ? '0'+n : n}
                    $('.timestamp').each(function(idx, el) {
                        date = new Date($(el).data("timestamp") * 1000);
                        el.innerHTML = date.getFullYear() + '-' + pad(date.getMonth() + 1) + '-' + pad(date.getDate()) 
                            + ' ' + pad(date.getHours()) + ':' + pad(date.getMinutes()) + ':' + pad(date.getSeconds());
                    });
                });
            </script>
        </div>
    </body>
</html>
